body {
    font-family: "Red Hat Display";
    background-color: #ecf0f1;
    background-image: url(https://64.media.tumblr.com/d19d143899b76534281df03e84dcaebe/c0543db4c526b7ce-ed/s1280x1920/f5f87155e50fe39499e20a71b670d2d66cb76435.jpg);
}

div {
    text-align: center;
}

p {
    margin: 0.18em;
    font-size: 18px;
}

#login {
    background: rgba(186, 245, 220, 0.726);
}

.container {
    background: rgba(247, 245, 218, 0.877);
}


/*#chat {
    background: rgb(169, 226, 195);
}*/

#users {
    background: rgb(235, 236, 147);
}

#chatbox {
    background: rgba(243, 243, 239, 0.89);
}


/*#login p {
    color: rgb(0, 0, 0);
    font-size: 10px;
}*/

#chatbox {
    height: 25rem;
    text-align: left;
    width: 95%;
    margin: 0 auto;
    overflow-y: scroll;
}

#netten {
    background: rgba(210, 243, 243, 0.904);
}

.row {
    width: 100%;
    margin: 0;
    padding: 0 2em;
    font-size: 10px;
    color: #000;
}