body {
    font-family: "Red Hat Display";
    background-color: #ecf0f1;
}

div {
    text-align: center;
}

p {
    margin: 0.18em;
}

#chatbox {
    height: 25rem;
    text-align: left;
    width: 95%;
    margin: 0 auto;
    overflow-y: scroll;
}

.row {
    width: 100%;
    margin: 0;
    padding: 0 2em;
}